.main_div {
    display: flex;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.form_div {
    width: 50vw;
}

.form_style {
    input {
        width: 100%;
        margin: 2vh 0 2vh 0;
        align-self: center;
    }
}